h2.red {
    color: rgb(0, 195, 255);
}

h2.blue {
    color: rgb(0, 174, 255);
}

#h2-special {
    border: 2px solid rgb(0, 128, 107);
}
figure { width: 90%;
         display: block;
         margin-right: auto;
        margin-left: auto;}


