h1.green {
    color:rgb(0, 128, 107)
}
h2.green {
    color: rgb(0, 128, 107);
}

h2.blue {
    color: rgb(0, 174, 255);
}

#h1-special {
    border: 2px solid rgb(0, 128, 107);
}
figure { width: 90%;
         display: block;
         margin-right: auto;
        margin-left: auto;
        max-width: 80%;
    }

img {
    max-width: 100%;
}


